body {
	background-color:black;
}

h1 {	
	color:grey; 
	text-align: center; 
	margin-top: -10px;
}

input { display: inline; }
      div {
        margin-bottom: 10px;
      }

.legend {
	margin-left: 50px;
	padding-bottom: 15px;
}

.calculator {
	
	background-color: rgb(255,255,255);
	border-radius: 25px;
	width: 475px;
	margin: auto;
	padding-top: 15px;
}

.panel {
	margin: auto;
	width: 65%;
	background-color: white
	margin-top: -10px;
}

label {
	display: inline-block;
	width: 125px;
}

.result {
	background-color: yellow;
}

.slidercontainer {
  width: 150px;
}

.slider-rate {
	font-weight: bold;
	color: black;
}

.slider {
  -webkit-appearance: none;
  width: 125px;
  height: 10px;
  border-radius: 15px;
  background: lightgray;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: blue;
  cursor: pointer;
}